body {
    font-size: 1vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.logo img {
    max-width: 155px;
    height: auto;
}

.animated-link-dash {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #fff;
    color: hsla(0,0%,100%,.6);
}


.padding-vertical.nav-padding.overflow-hidden {
    display: block;
}

.navbar{
    background: rgba(0, 0, 0, 0.2);
    padding:0px 20px;
}




